// -- Cart ----------------------------------------------

#pagebody {
  @include transition(all .7s ease-in-out);
}
#cartbody {
  background: image-url('spinner.gif') center center no-repeat #fff;
  height: 100%;
  position: fixed;
  top: 0;
  border-left: 1px solid #c0c0c0;
  @include box-shadow(0 0 50px rgba(0,0,0,.2));
  @include transition(all .7s ease-in-out);

  iframe {
    height: 100%;
    border: 0;
  }
}
.cart-open {
  #pagebody {
    opacity: .3;
  }
  #cartbody {
    right: 0;
  }
}

#checkout-link {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 97%;
  padding: 30px;
  margin: 0 10px;
  border-radius: 10px 10px 0 0;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  z-index: 99;
}


// -- Responsive --------------------------------------

//xs

  #cartbody {
    width: 400px;
    right: -450px;
    z-index: 3;

    iframe {
      width: 400px;
    }
  }
  .cart-open #pagebody {
    margin-left: -400px;
  }


@media (min-width: $screen-sm) { 

  #cartbody {
    width: 600px;
    right: -650px;

    iframe {
      width: 600px;
    }
  }
  .cart-open #pagebody {
    margin-left: -600px;
  }

}

@media (min-width: $screen-md) { 

  #cartbody {
    width: 700px;
    right: -750px;

    iframe {
      width: 700px;
    }
  }
  .cart-open #pagebody {
    margin-left: -700px;
  }

}


@media (min-width: $screen-lg) { 

  #cartbody {
    width: 800px;
    right: -850px;

    iframe {
      width: 800px;
    }
  }
  .cart-open #pagebody {
    margin-left: -800px;
  }

}